/*HTML Body Styles */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: hsla(220,100%,20%,1);
  border-radius: 10px;
  overflow-y: scroll; 
  bottom: 60px;
}

/*Header Body Footer Div Styles*/
  /*HeaderDivs*/
.headerI {
  background-color: hsla(220, 5%, 40%, 1);
  border: 2px solid gold;
  width: 100%;
  margin-left: 0;
  margin-right: 0.25%;
  height: 65px;
  text-align: center;
  align-items: center;
  font-size: 15px;
  display: inline-block;
  top: 0;
  left: 0;
}
.headerMaps {
    background-color: hsla(220, 5%, 70%, 1);
    width: 100%;
    margin-left: 0;
    margin-right: 0.25%;
    height: 50px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    display: inline-block;
    top: 0;
    left: 0;
}
.header {
  width: 100vw;
  height: 65px;
  background-color: hsla(220, 5%, 70%, 1);
  display: flex;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  padding-right: 7%;
}
.headerBlock {
  width: 100vw;
  height: 65px;
  background-color: hsla(220, 5%, 70%, 1);
  display: flex;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
.header button {
  padding: 10px 30px;
  height: 40px;
  width: 100px;
  background-color: gold;
  color: black;
  cursor: pointer;
  margin-left: 12%;
  margin-right: auto;
  align-items: center;
}
.header button:hover {
  background-color: #666;
}

  /*BodyDiv*/
    /*BodyDiv: Left Sidebar*/
.leftside {
  width: 15vw; /* 15% of the viewport width */
  height: auto; /* Full height minus header height */
  background-color: hsla(20, 5%, 70%, 1);
  border: 1px solid black;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  box-sizing: border-box;
  position: fixed;
  top: 65px; /* Place sidebar directly below the header */
  left: 0;
  bottom: 0px;
  overflow: hidden;
}
.sidebar-content {
  text-align: center; /* Center the content inside the sidebar */
  flex-grow: 1; /* Make the content stretch from top to bottom */
  height: 100%;
  width: 100%;
  padding: 20px;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

    /*BodyDiv: Main*/
.row:after {
  align-items: center;
  content: "";
  display: table;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.rowf:after {
  align-items: center;
  content: "";
  display: table;
  clear: both;
  width: 100%;
  margin-bottom: 80px;
}
.column {
  float: left;
  border: 2px solid gold;
  width: 100%;
  padding: 2px;
  height: 400px;
  overflow: hidden;
}
.main {
  width: calc(100vw - 30vw);
  height: auto/*calc(100vh - 55px)*/;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  position: fixed;
  top: 65px;
  bottom: 0;
  left: 15vw;
}
.face {
  display: none; /* Hide by default */
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  left: 15vw;
  box-sizing: border-box;
  position: fixed;
  overflow-x: scroll;
}
   
      /*BodyDiv: Main-Faces 1: Dash*/
.face1 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
  box-sizing: border-box;
  left: 15vw;
  position: fixed;
  overflow-x: scroll;
  overflow-y: hidden;
}
.body1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: hsla(120, 5%, 70%, 1); /* */
  position: fixed;
  left: 15vw;
  right:15vw;
  bottom: 65px;
  top: 65px;
}
.footer1 {
  background-color: hsla(120, 5%, 70%, 1);
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  width: 70vw;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 15vw;
  right: 15vw;
  overflow: hidden;
}
  
      /*Face 2 - Library*/
.face2 {
  background-color: black;
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
  box-sizing: border-box;
}
.body2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: hsla(120, 5%, 70%, 1); /* */
  position: fixed;
  left: 15vw;
  right:15vw;
  bottom: 65px;
  top: 65px;
}
.footer2 {
  background-color: hsla(120, 5%, 70%, 1);
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  width: 70vw;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 15vw;
  right: 15vw;
  overflow: hidden;
}

      /*Face 3 - Networks*/
.face3 {
  background-color: black;
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
  box-sizing: border-box;
}
.body3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: hsla(120, 5%, 70%, 1); /* */
  position: fixed;
  left: 15vw;
  right:15vw;
  bottom: 65px;
  top: 65px;
}
.footer3 {
  background-color: hsla(120, 5%, 70%, 1);
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  width: 70vw;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 15vw;
  right: 15vw;
  overflow: hidden;
}

      /*Face 4 - Media*/
.face4 {
  background-color: black;
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
  box-sizing: border-box;
}
.body4 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: hsla(120, 5%, 70%, 1); /* */
  position: fixed;
  left: 15vw;
  right:15vw;
  bottom: 65px;
  top: 65px;
}
.footer4 {
  background-color: hsla(120, 5%, 70%, 1);
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  width: 70vw;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 15vw;
  right: 15vw;
  overflow: hidden;
}

      /*Face 5 - Maps*/
.face5 {
  background-color: black;
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

.body5 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: hsla(120, 5%, 70%, 1); /* */
  position: fixed;
  bottom: 0;
  top: 65px;
  left: 15vw;
  right: 15vw;
}
.footer5 {
  background-color: hsla(120, 5%, 70%, 1);
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  width: 70vw;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 15vw;
  right: 15vw;
  overflow: hidden;
}
     /*BodyDiv: Main-Faces 6: Labs*/
.face6 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
  box-sizing: border-box;
  left: 15vw;
  position: fixed;
  overflow-x: scroll;
  overflow-y: hidden;
}
.body6 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: hsla(120, 5%, 70%, 1); /* */
  position: fixed;
  left: 15vw;
  right:15vw;
  bottom: 65px;
  top: 65px;
}
.footer6 {
  background-color: hsla(120, 5%, 70%, 1);
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  width: 70vw;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 15vw;
  right: 15vw;
  overflow: hidden;
}
  
    /*BodyDiv: Right Sidebar*/
.rightside {
  width: 15vw; /* 15% of the viewport width */
  height: auto; /* Full height minus header height */
  background-color: hsla(20, 5%, 70%, 1); /* Grey color for the right sidebar */
  border: 1px solid black;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  box-sizing: border-box;
  position: fixed;
  top: 65px; /* Place sidebar directly below the header */
  right: 0;
  bottom: 0px;
  overflow: hidden;
}
.sidebar-content {
  text-align: center; /* Center the content inside the sidebar */
  flex-grow: 1; /* Make the content stretch from top to bottom */
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
  position: relative;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
button.sidebar-content {
  padding: 5px;
  overflow: hidden;
  height: 10%;
  width: 80px;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
  top: 10%;
}
   
  /*FooterDiv*/
.footer {
  background-color: hsla(220, 5%, 40%, 1);
  border: 2px solid gold;
  text-align: center;
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0.5%;
}
.footer-links {
  /*justify-content: space-around;*/
  display: flex;
  width: 70%;
  height: 65px;
  background-color: hsla(220, 5%, 70%, 1);
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  padding-right: 7%;
  padding-left: 3%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.footer-links button {
  color: white;
  text-decoration: none;
  width: 100px;
  height: 40px;
  margin-left: 12%;
  margin-right: auto;
  background-color: #333;
  align-items: center;
  padding: 10px;
  top: 10px;

}
.footer-links button:hover {
  background-color: #666;
}

/*Content Divs*/
  /*Misc.*/
a {
    font-weight: 900;
  }
hr {
  width: 99vw;
  height: 10px;
  background-color: blue;
  border: 3px solid red;
  left: 0;
  display: flex;
}

.filler {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
}
p.filler {
  float: left;
  width: 100%
  height: 100%;
  top: 20%;
}

  /*Iframes*/
iframe {
  width: 100%; /* Fill the full width of the parent div */
  height: 100%; /* Fill the full height of the parent div */
  border: none; /* Remove iframe's default border */
  border-radius: 10px; /* Match the rounded border of the parent div */
  box-sizing: border-box; /* Ensure padding and border are included in the dimensions */
}
iframe.column3 {
  width: 100%;
  height: 100%;
  margin: 0;
  left: 0%;
  bottom: 0%;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
}
iframe.room {
  width: 100%;
  height: 100%;
  margin: 0;
  left: 50%;
  bottom: 50%;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
}
